:root {
  /* colores */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%; /*Aqui indica el min de altura que queremos que tenga de la pagina*/
  background-color: whitesmoke;
}
html {
  height: 100%;
} /*Aqui indicamos que esta permitido que los item del grid ocupen el 100% de la pagina*/

.grid-container > * {
  text-align: center;
  border-radius: 4px;
  padding: 10px;
}

.header1 {
  grid-area: header1;
  background-color: cornflowerblue;
}
.navbar {
  grid-area: navbar;
  background-color: #6b1a1b;
}
.sidebar {
  grid-area: sidebar;
  background-color: coral;
}
.main {
  grid-area: main;
  background-color: whitesmoke;
}
/* .footer1{
    grid-area: footer1;
    background-color: mediumpurple;
} */

/*Telefono*/

/*Tablet*/
@media (max-width: 700px) {
  .d-flex .flex-column {
    flex-direction: column;
  }
  nav div a img {
    width: auto;
    height: 5vh;
  }

  .navbar {
    order: 1;
    position: sticky;
    bottom: 0;
  }
  .footer {
    display: none;
  }
}
/*Escritorio*/
@media (max-width: 1400px) {
  html,
  body {
    height: 100%;
  }
  nav div a img {
    width: auto;
    height: 5vh;
  }
  .main {
    overflow-y: auto;
  }
  .navbar,
  .footer {
    height: 10%;
  }
  .footer {
    background-color: black;
  }

  .main {
    height: 80%;
  }
}
