:root {
  --first-color: rgb(107, 26, 29);
  --first-alpha-color: rgba(107, 26, 29, 0.75);
  --second-color: rgb(169, 64, 71);
  --second-alpha-color: rgba(169, 64, 71, 0.75);
  --third-color: rgb(248, 162, 176);
  --third-alpha-color: rgba(248, 162, 176, 0.75);
  --fourth-color: rgb(228, 206, 219);
  --fourth-alpha-color: rgba(228, 206, 219, 0.75);
  --fifth-color: rgb(224, 93, 96);
  --fifth-alpha-color: rgba(224, 93, 96, 0.75);
  --white-color: rgb(220, 220, 220);
}
* {
  margin: 0;
}

body {
  background-color: var(--white-color);
}
/* Navbar */
.navbar {
  display: block;
  height: auto;
  background-color: var(--first-color);
  box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.58);
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.fixedTop {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.nav-link,
.navbar-brand {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  text-align: center;
}
.navbar-toggler {
  background-color: var(--fourth-color);
}
.hideNavbarMobile {
  display: none;
}
.hideForm {
  display: none;
}
.logoIpn {
  width: 5rem;
  border: 1px red solid;
  border-radius: 10px;
}
.logoIpn:hover {
  box-shadow: 0 0 10px rgb(254, 254, 254);
}
.iconosCarritoLogin {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .navbar {
    display: flex;
  }
  footer {
    display: none;
  }
  li {
    list-style: none;
    margin-top: 3rem;
  }
  .offcanvas {
    background-color: var(--fifth-alpha-color);
  }
}

@media (max-width: 1300px) {
  .navbar-nav {
    display: none;
  }
  .hideForm {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* Cards */
main {
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.col-4 {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  min-width: 300px;
  max-width: 350px;
  height: 450px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
  background-color: var(--fourth-color);
}
.col-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}
.col-4 div {
  position: relative;
  z-index: 1;
}
.col-4:hover img {
  transition: 0.5s;
  opacity: 0;
  z-index: 0;
}
.row > * {
  padding: 0 !important;
}
/* informacion y links cards */

.img-container img {
  width: 100%;
  height: auto;
}
.nombre,
.cargo {
  display: flex;
  justify-content: center;
}
.imgP {
  text-align: justify;
  padding: 5px 20px;
}
.icono {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Se intento copiar los colorsillos de gmail lo pueden cambiar  */
.gmail-icon {
  background: linear-gradient(
    to right,
    #0b2cbd,
    #0b2cbd,
    #b01c0e,
    #f45100,
    #f45100,
    #f4f008,
    #1ab103,
    #1ab103
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenedorProyecto {
  background-color: var(--third-alpha-color);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgb(0, 0, 0);
}
.parrafoProyecto {
  text-align: justify;
  padding: 1rem;
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--first-color);
  color: var(--white-color);
  text-align: center;
}
footer .row {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.liksFooter {
  display: flex;
  justify-content: space-evenly;
}
.footerContainer {
  display: block;
  height: 3rem;
  box-shadow: 0px -3px 5px -1px rgba(0, 0, 0, 0.49);
}
