#inicia{
    border-radius: 5%;
   background-color:rgb(107, 26, 29);
   margin-top: 150px;
   width: 800px;
   justify-content: center;
   border: none !important;
}
#formularioIngreso{
    border: none !important;
}
#formSend{
    width: 900px
}
h1{
    color: white;
}
p{
    color: white;
}

div{
    justify-content: center;
}
@media (max-width:768px) {
#formSend{
    justify-content: center;
    display:flex
    border: none !important;
}

#inicia{
    border-radius: 5%;
   background-color:rgb(107, 26, 29);
   color: black;
   width: auto;
   justify-content: center;
   border: none !important;
}

#formularioIngreso{
    border: none !important;
}
h1{
    color: white;
}
p{
    color: white;
}
} 

.formulario_correcto {
	color: #1ed12d;
	opacity: 1;
}

.formulario_incorrecto {
	color: #bb2929;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
    counter: white;
}

.formulario__input-error-activo {
	display: block;
}