main {
  margin-top: 10rem;
}
#inicia {
  border-radius: 20px;
  background-color: rgb(107, 26, 29);
  margin-top: 150px;
  width: 800px;
  justify-content: center;
  border: black !important;
}
#campos {
  margin-top: 2rem;
}
.form-floating {
  margin-bottom: 0.5rem;
}

.form-control {
  background-color: whitesmoke;
  border-color: rgba(255, 255, 255, 0.654);
  color: rgb(3, 3, 3);
}

.form-control:focus {
  background-color: whitesmoke;
  border-color: rgba(255, 255, 255, 0.4);
}

.btn-primary {
  color: rgb(51, 51, 51);
  background-color: rosybrown;
  border: blueviolet;
}
#btnCerrarSesion {
  background-color: rgba(255, 0, 0, 0.096);
  border: none;
  color: blue;
}
#formularioIngreso {
  border: none !important;
}
#formSend {
  width: 900px;
}
h1 {
  color: white;
}
p {
  color: white;
}

div {
  justify-content: center;
}
@media (max-width: 768px) {
  #formSend {
    justify-content: center;
    display: flex;
    border: none !important;
  }
}
body #olvidaste-contrasena {
  color: white;
  font-size: 18px;
}

body #no-tienes-cuenta {
  color: white;
}

.formulario_correcto {
  color: #1ed12d;
  opacity: 1;
}

.formulario_incorrecto {
  color: #bb2929;
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
  counter: white;
}

.formulario__input-error-activo {
  display: block;
}
