.btnImagen {
  border: none;
  margin: 0.5rem 0;
}

.card-text {
  min-height: 72px;
  max-height: 72px;
  overflow: hidden;
}
.card-text,
.card-price {
  margin-bottom: 10px;
}
.cardImage {
  width: 100%;
  min-height: 190px;
  max-height: 190px;
  margin-top: 5px;
  border-radius: 7px;
}
.flechaRegresar {
  min-width: 45px;
}
